@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$vh-spacers: (  
  25: 25vh,
  50: 50vh,
  75: 75vh
);
$utilities: map-merge($utilities,
    ("margin-top": (responsive: true,
        property: margin-top,
        class: mt-vh,
        values: map-merge($vh-spacers, (auto: auto))),
    ));


@import '../node_modules/bootstrap/scss/utilities/api';